[client]
# 默认字符集
default-character-set=utf8mb4

[mysqld]
#端口
port=3333
mysqlx-port=33330

# 字符集
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
#default_authentication_plugin=mysql_native_password
authentication_policy=mysql_native_password

# 最大连接数
max_connections=4096

# 日志到期自动删除
binlog_expire_logs_seconds=604800

# 对于组复制，数据必须存储在 InnoDB 事务性存储引擎，因此禁用以下引擎
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"

# server-id必须是唯一的
server-id=33

# 开启GTID,必须开启
gtid_mode=on

# 强制GTID的一致性
enforce_gtid_consistency=on

# binlog校验规则,8.0.21以后不需要设置
binlog_checksum=NONE

# binlog格式,MGR要求必须是ROW
binlog_format=row

# 生成各 Binlog 文件的前缀
log_bin=mysql-bin

# 因为集群会在故障恢复时互相检查binlog的数据, 所以需要记录下集群内其他服务器发过来已经执行过的binlog,按GTID来区分是否执行过.
#log_slave_updates=on
log_replica_updates=on

# 基于安全的考虑,MGR集群要求复制模式要改成slave记录记录到表中,不然就报错
master_info_repository=TABLE

# 基于安全的考虑,MGR集群要求复制模式要改成slave记录记录到表中,不然就报错
relay_log_info_repository=TABLE

# 记录事务的算法,官网建议设置该参数使用 XXHASH64 算法
transaction_write_set_extraction=XXHASH64

# MGR使用乐观锁,所以官网建议隔离级别是RC,减少锁粒度
transaction_isolation=READ-COMMITTED

# 预装插件
plugin_load_add='group_replication.so'

# 相当于此GROUP的名字,是UUID值,不能和集群内其他GTID值的UUID混用,可用uuidgen来生成一个新的,
# 主要是用来区分整个内网里边的各个不同的GROUP,而且也是这个group内的GTID值的UUID
loose-group_replication_group_name='62536350-cfd8-11ee-8613-0242ac1a0004'

# 是否随服务器启动而自动启动组复制,不建议直接启动,怕故障恢复时有扰乱数据准确性的特殊情况
loose-group_replication_start_on_boot=off

# 本地MGR的IP地址和端口，host:port,是MGR的端口,不是数据库的端口
loose-group_replication_local_address='192.168.2.241:33033'

# 需要接受本MGR实例控制的服务器IP地址和端口,是MGR的端口,不是数据库的端口
loose-group_replication_group_seeds='192.168.2.241:33031,192.168.2.241:33032,192.168.2.241:33033'

# 开启引导模式,添加组成员，用于第一次搭建MGR或重建MGR的时候使用,只需要在集群内的其中一台开启,
loose-group_replication_bootstrap_group=OFF

# 是否启动单主模式，如果启动，则本实例是主库，提供读写，其他实例仅提供读,如果为off就是多主模式了
loose-group_replication_single_primary_mode=ON

# 多主模式下,强制检查每一个实例是否允许该操作,如果不是多主,可以关闭
loose-group_replication_enforce_update_everywhere_checks=OFF

#端口
port=3333
#作为集群成员上报到集群显示的主机地址和端口
report_host=192.168.2.241
report_port=3333

